@import "../../node_modules/bootstrap/scss/bootstrap";
// Required
@import "../../node_modules/bootstrap/scss/functions";
// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Bootstrap and its default variables

// Optional Bootstrap components here
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// etc

header{
    margin-left: 43px;
    border-bottom: 1px solid black;
    *{
        padding: 5px;
        font-size: 25px;
    }
    button{
        font-size: 20px;
        padding: 5px 10px;
    }
}

.timer-container{
    height: 50px;
    border-bottom: 1px solid black;
    margin-left: 50px;
    width: 98%;

}

#header_first{
    width: 50%;
    border-right: 1px solid black;
}

#list_place{
    width: 600px;
    margin-left: 120px;
    margin-top: 50px;
}

.list_container{
    border-radius: 10px;
    width: 500px;
    height: 140px;
    background-color: lightgrey;
    margin-bottom: 40px;
    div{
        padding: 10px;
        margin-left: 20px;
    }
}

.word_amount{
    font-size: 25px;
}

.list_name{
    font-size: 30px;
}

#listAddBtn{
    font-size: 30px;
    margin-left: 440px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: grey;
    text-align: center;
}

#content_place{
    width: 880px;
    height: 91.7vh;
    border-left: 1px solid black;
    // background-color: lightgrey;
}

#select_frame{
    display: flex;
    justify-content: space-around;
    margin-top: 30%;
    div{
        padding: 50px;
        background-color: gray;
        font-size: 30px;
    }
}

.none{
    display: none !important;
}




.obj{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background-color: gray;
}

.word{
    font-size: 30;
}

.meaning{
    font-size: 20;
}

.startBtn {
    width: 100px;
    height: 35px;
    background-color: #c4c4c4;
    border-radius: 10px;
}

#words {
    margin-left: 100px;
    margin-top: 60px;
}
#add-part + div{
    width: 300px;
    margin: auto;
    text-align: right;
}
#translated{
    font-size:40px;
}

#adding_place{
    display: block;
}

.word_input{
    border: none;
    border-bottom:1px solid black;
    width: 150px;
    margin: 10px;
}

.word_button{
    padding: 8px;
    font-size: 15px;
}

.accordion {
    width: 500px;
    margin: 50px;
    border: 1px solid black;
    font-size: 20px;
}

.modal-body{
    display: flex;
}





.contents div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}